
/*.title{
  font-size: 5.625rem;
}*/

body {
  color: #40514E;
  margin:0;
  font-family: 'Merriweather', Verdana, Bogart,Recoleta,Helvetica Neue,Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Sacramento', cursive;
  color:#66BFBF;
  font-size:7rem;
  /* font-size: 5.625rem; /*90px/16 = 5.625*100 = 562.50% =5.625rem (r stands for root)*/
  margin: 50px auto 0 auto;
}

h2{
  font-size: 2.5rem;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  padding-bottom: 10px;
}
h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  /*border-color: #222831;*/
  border-width: 7px;
  width: 4%;
  margin: 80px auto;
}

p{
  line-height: 2;
}

a:hover {
  color: #000000;
}
.profile{
    width: 65%;
    margin: 50px auto;
    line-height: 2;

}

.mad{
  width: 25%;
}

.skill-row{
  width: 55%;
  margin: 60px auto;
  text-align: left;
  line-height: 2;

}

.computer-img{
  width: 25%;
  margin-right: 30px;
  float: left;
}

.chill-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.head-container{
  display: block;
  background-color: #66BFBF;
  font-weight: bold;
}
.about{
  border: none;
  color: #393E46;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.work{
  border: none;
  color: #393E46;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.notes{
  border: none;
  color: #393E46;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.top-container{
  text-align: center;
  padding-top: 100px;
  position: relative;
  margin: 0;
  background-color: #E4F9F5;
}
.intro{
  width: 75%;
  margin: auto;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}


.middle-container{
  width: 75%;
  margin: 100px auto;
  line-height: 2;
  color: #40514E;
}
.contact-me{
  width: 60%;
  margin: 20px auto 60px;
  color: #40514E;
}
.btn_msg{
  border: none;
  border-radius: 3px;
  color: #393E46;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: #30E3CA;
  margin: 10px;

}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
  margin:0;
}

.footer-link{
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

.copyright{
  color: #EAF6F6;
  padding: 20px 0;
  font-size: 0.75em;
}
